body {
    font-family: "Arial", "Meiryo", sans-serif;
}

h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114);
    text-shadow: 1px 1px 2px gray;

}
.headlineblue{
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    color:skyblue
}

.headlinepink{
    color: rgb(255, 192, 203);
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;

}
* {
    font-size: 20px;
    text-align: center;
}

.blue {
    color: skyblue
}

.pink {
    color: rgb(255, 192, 203);
}

#basic p {
 font-weight: bold;
}